body {
    font-family: 'Monospace', Lucida-Console;
    padding: 0;
    margin: 0;
}

.container{
    display:flex;
    color: blanchedalmond;
    background: black;
    opacity: .6;

}

.logo {
    padding: 30px 40px;
}


.container ul{
 
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 50px;
    margin: auto;
    list-style-type: none;
}

a{
    position: relative;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: blanchedalmond;
    font-size: 20px;
}

a:after{
    content:"";
    position: absolute;
    background-color: blanchedalmond;;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover:after{
    width: 100%;

}